@import url('./home.css');
@import url('./modal.css');
@import url('./menuRiot.css');
@import url('./footer.css');

* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    letter-spacing: 2px;
    padding: 0;
}

