* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    letter-spacing: 2px;
    padding: 0;
}

button {
    cursor: pointer;
    text-transform: uppercase;
}

h1 {
    font-size: 38px;
}

h5 {
    font-size: 20px;
}

p {
    font-size: 18px;
    text-align: start;
}

img {
    width: 100%;
    display: block;
}

.spacing-site {
    padding: 25px;
}

.display-block {
    display: block;
}

.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

.btn-icon {
    background: none;
    border: none;
}

.icon {
    color: white;
    font-size: 16px;
}

.btn {
    border: none;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    height: 55px;
    text-transform: uppercase;
}

.div-btn {
    border: 1px solid white;
    padding: 7px;
    width: 280px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    align-items: center;
    background: black;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    padding: 15px 30px 15px 15px;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 4000;
}

.logo-riot {
    cursor: pointer;
    height: 90px;
    width: 90px;
}

.logo-principal-header {
    cursor: pointer;
    color: white;
    width: 150px;
    min-height: 50px;
}

.nav-menu {
    padding: 20px;
    font-size: 20px;
    background: black;
    color: white;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 40vh;
    animation: show-right .2s forwards;
}

.nav-menu ul {
    list-style: none;
}

.nav-menu ul li {
    padding: 15px 0px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-riot {
    background: #cfccc7;
}

.section-content-video {
    height: 70vh;
}

.video-section  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-section span  {
    color: white;
    text-align: center;
    width: 270px;
    margin-bottom: 22vh;
    font-weight: bold;
    font-size: 12px;
}

.video-section .logo-principal-header {
    width: 350px;
}

.video-section .btn {
    background: #ff4655;
    color: white;
}

.div-hover {
    width: 100%;
}

.video-valorant {
    position: absolute; 
	right: 0; 
    bottom: 0;
    top: -20px;
	width: auto; 
	height: auto; 
	z-index: -1000;
	background-size: cover; 
}

.modal {
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: #0f1923;
    border: 1px solid transparent;
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
    z-index: 3000;
    top: 175px;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 85vw;
    height: 90vw;
    text-align: center;
    margin: 0 auto;
}

.modal span {
    color: white;
    font-size: 13px;
}

.around-button {
    border: 1px solid white;
    padding: 0px 10px 5px;
}

.around-button .icon {
    font-size: 10px;    
}

.button-title {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.button-title h1 {
    color: white;
    font-size: 20px;
    width: 200px;
}

.modal .div-btn {
    margin-top: 15px;
}

.modal .different-btn .btn {
    background: #ff4655;
}

.explication-game {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.presentation-valorant {
    background: #ece8e1;
}

.presentation-valorant::before {
    content: "";
    display: block;
    width: 100%;
    height: 0.5px;
    background: #b3b3b3;
    margin: 20px 0px;
}

.presentation-valorant h5 {
    color: #383e3a;
    margin: 20px 0px;
}

.presentation-valorant p  {
    color: #768079;
    text-align: start;
    font-size: 16px;
    margin-bottom: 25px;
}

.presentation-valorant img {
    margin: 40px 0px;
}

.presentation-valorant img::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #ff4655;
}

.presentation-valorant h1 {
    font-weight: bold;
    letter-spacing: 0px;
}

.content-agents {
    background: #ff4655;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-agents::before {
    content: "";
    display: block;
    width: 100%;
    height: 0.5px;
    background: #ece8e1;
    margin: 20px 0px;
}

.content-agents h5 {
    margin-top: 30px;
}

.content-agents p {
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;
    text-align: start;
}

.content-agents .btn {
    background: white;
    color: black;
}

.content-agents .btn:hover {
    animation: hover-btn .3s forwards;
}

.content-agents .div-btn {
    z-index: 3000;
    margin-top: 45vh;
}

.img-agents {
    display: flex;
    height: 60vh;
    flex-direction: row;
    margin-top: 20px;
}

.img-agents img:nth-child(1) {
    position: absolute;
    width: 76%;
    left: -40px;
}

.img-agents img:nth-child(2) {
    z-index: 2000px;
    position: absolute;
    width: 67%;
    right: 0;
    margin-top: 70px;
}

.map-div {
    background: #ece8e1;
}

.bg-maps {
    height: 83vh;
}

.bg-maps img {
    position: absolute;
    background: #ece8e1;
    height: 51vh;
}

.map-div.spacing-site {
    padding-top: 40px;
}

.map-div p{
    text-align: start;
}

.map-div::before {
    content: "";
    display: block;
    width: 100%;
    height: 0.5px;
    background: #b6b4b2;
    margin: 20px 0px;
}

.div-maps-buttons  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-maps-buttons .div-btn {
    z-index: 3000;
    margin-top: 33vh;
}

.div-maps-buttons .btn {
    background: #ff4655;
    color: white;
}

.channels-btns {
    background: #0f1923;
    color: white;
    height: 143vh;
    padding: 60px 30px;
}

.channels-btns h5 {
    color: #b6b4b2;
    font-weight: lighter;
    margin-top: 30px;
}

.btns-socials {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}

.btns-socials .icon {
    font-size: 23px;
}

.img-facebook  {
    position: relative;
    border: 1px solid white;
}
 
.img-facebook .social-card  {
    width: 100%;
}
 
.img-facebook .valorant-logo-small {
    width: 100%;
}

.div-logo-channels {
    background: #cfccc7;
    padding: 10px;
    border: 1px solid white;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
}

.facebook-div {
    background: #0f1923;
    width: 100px;
    height: 100px;
    display: flex;
    position: absolute;
    top: 36%;
    right: 36%;
    margin:  0 auto;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    z-index: 200;
}

.facebook-div .icon {
    color: #ff4655;
    font-size: 25px;
}

.detail-div {
    background: white;
    height: 8px;
    margin-bottom: 8%;
    width: 37%;
}

.presentation-facebook p {
    text-align: start;
    font-size: 18px;
}

.presentation-facebook h1{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 8%;
}

.footer {
    background: black;
    color: #b6b4b2;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    justify-content: space-between;
    text-align: center;
    padding: 40px;
}

.footer a, p {
    font-size: 10px;
    color: #b6b4b2;
    text-align: center;
    font-weight: 300;
}

.footer p:nth-child(1) {
    font-size: 15px;
}

.footer p {
    text-transform: uppercase;
    font-weight: 300;
}

.footer .privacity-div {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer .logo-riot-games {
   height: 40px;
   width: 120px;
}

@keyframes show-right{
    from{
      opacity: 0;
      transform: translate3d(30px, 0px, 0px);
    }
    to{
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }

@keyframes show-left{
    from{
      opacity: 0;
      transform: translate3d(-30px, 0px, 0px);
    }
    to{
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }

@keyframes hover-btn{
    from{
      opacity: 0;
      transform: translate3d(-30px, 0, 0);
    }
    to{
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }

